* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
}

.hora {
    font-size: 8rem;  /* Aumentei ainda mais o tamanho da hora */
    font-weight: bold;
}

.logo {
    font-size: 5rem;  /* Aumentei ainda mais o tamanho do texto BAND CE */
    margin-top: 30px; /* Distância entre a hora e o texto */
}
